@import "../scss/variables.scss";
/* Footer */
.footer_section {
  padding: 2rem 16.2rem;
  background: $primary_color;
  display: flex;
  gap: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .footer_section {
    padding: 2rem 10.2rem;
  }
}
