@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500;600;700&display=swap");
@import "../styles/variables.scss";
// @import "~bootstrap/scss/bootstrap";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  font-family: "Chivo Mono";
  background-color: $bg_color;
  color: $text_color;
}

.heading {
  font-weight: 700;
  color: $text_color;
  font-size: 5rem;
  line-height: 9rem;
}

.block_section {
  padding: 6rem 16.2rem;
}

.block_item {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .block_section {
    padding: 3rem 10.2rem;
  }
}
