@import "../scss/variables.scss";
// Me Section
.me_section {
  padding: 16.2rem 16.2rem 0 16.2rem;

  .me_section_image_block {
    display: flex;
    align-items: center;
  }

  .me_section_image_block_image {
    padding: 3rem 5rem;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #763cac 0%,
      rgba(50, 15, 133, 0) 100%
    );
  }

  .me_section_image_block_name {
    font-size: 2rem;
    color: $text_color;
    margin-bottom: 1.2rem;
    span {
      color: $span_color;
    }
  }

  .me_section_image_block_title {
    font-size: 3.6rem;
    span {
      color: $span_color;
    }
  }

  .me_section_content_desc {
    font-size: 2rem;
    margin-bottom: 3.6rem;
  }

  .me_section_content_intro {
    padding-right: 20%;
    font-size: 2rem;
  }
}

/* Project section*/
.project_section {
  padding: 16.2rem 16.2rem 6rem 16.2rem;

  .project_section_block {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }

  .project_section_item {
    padding: 4rem 6rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    background-color: #1a0b2e;
    border-radius: 8px;
    box-shadow: 3px 3px 2px $text_color;
  }

  .project_section_item_icon {
    color: $text_color;
    font-size: 5.6rem;
  }

  .project_section_item_title {
    font-size: 2.4rem;
  }

  .project_section_item_desc {
    padding-right: 20%;
    font-size: 1.6rem;
    display: -webkit-box;
    word-break: break-word;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@media only screen and (max-width: 768px) {
  .me_section {
    padding: 10.2rem 10.2rem 0 10.2rem;
  }
  .project_section {
    padding: 10.2rem 10.2rem 3rem 10.2rem;
  }
}
